.dark-medium-contrast {
  --md-sys-color-primary: rgb(213 218 255);
  --md-sys-color-surface-tint: rgb(185 195 255);
  --md-sys-color-on-primary: rgb(21 33 85);
  --md-sys-color-primary-container: rgb(130 141 200);
  --md-sys-color-on-primary-container: rgb(0 0 0);
  --md-sys-color-secondary: rgb(217 219 243);
  --md-sys-color-on-secondary: rgb(33 37 55);
  --md-sys-color-secondary-container: rgb(141 143 166);
  --md-sys-color-on-secondary-container: rgb(0 0 0);
  --md-sys-color-tertiary: rgb(252 207 239);
  --md-sys-color-on-tertiary: rgb(56 28 51);
  --md-sys-color-tertiary-container: rgb(172 133 161);
  --md-sys-color-on-tertiary-container: rgb(0 0 0);
  --md-sys-color-error: rgb(255 210 204);
  --md-sys-color-on-error: rgb(84 0 3);
  --md-sys-color-error-container: rgb(255 84 73);
  --md-sys-color-on-error-container: rgb(0 0 0);
  --md-sys-color-background: rgb(18 19 24);
  --md-sys-color-on-background: rgb(227 225 233);
  --md-sys-color-surface: rgb(18 19 24);
  --md-sys-color-on-surface: rgb(255 255 255);
  --md-sys-color-surface-variant: rgb(69 70 79);
  --md-sys-color-on-surface-variant: rgb(220 219 230);
  --md-sys-color-outline: rgb(177 177 187);
  --md-sys-color-outline-variant: rgb(144 143 153);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(227 225 233);
  --md-sys-color-inverse-on-surface: rgb(41 42 47);
  --md-sys-color-inverse-primary: rgb(57 68 122);
  --md-sys-color-primary-fixed: rgb(221 225 255);
  --md-sys-color-on-primary-fixed: rgb(0 10 62);
  --md-sys-color-primary-fixed-dim: rgb(185 195 255);
  --md-sys-color-on-primary-fixed-variant: rgb(39 50 103);
  --md-sys-color-secondary-fixed: rgb(223 225 249);
  --md-sys-color-on-secondary-fixed: rgb(13 16 33);
  --md-sys-color-secondary-fixed-dim: rgb(195 197 221);
  --md-sys-color-on-secondary-fixed-variant: rgb(50 53 72);
  --md-sys-color-tertiary-fixed: rgb(255 215 243);
  --md-sys-color-on-tertiary-fixed: rgb(33 7 29);
  --md-sys-color-tertiary-fixed-dim: rgb(229 186 216);
  --md-sys-color-on-tertiary-fixed-variant: rgb(74 44 68);
  --md-sys-color-surface-dim: rgb(18 19 24);
  --md-sys-color-surface-bright: rgb(68 68 74);
  --md-sys-color-surface-container-lowest: rgb(6 7 12);
  --md-sys-color-surface-container-low: rgb(29 29 35);
  --md-sys-color-surface-container: rgb(39 39 45);
  --md-sys-color-surface-container-high: rgb(50 50 56);
  --md-sys-color-surface-container-highest: rgb(61 61 67);
}
